body {
    height: 100vh;
    
    /*
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    */


    background: black url(imagens/wallpaper002.jpg) center center no-repeat  fixed;
    background-size: cover;
}
    /* Shorthand - background
        colo > image > position > repeat > [size] > attachment     navegadores ainda não aceitam a sh do size
    */
    
main {
    background-color: white;
    max-width: 700px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;

}